body {
    background: #aabfcf;
    font-family: "Oswald", sans-serif;
    overflow:  hidden;
}

.mar {

    margin: 10px;
    padding: 2px;
}

.index {
    width: 100vw;
    height: 100vh;
}

.masthead {
    color: #fff;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url("/img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}


@media (min-with: 992px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}

.button-NavBar {
    background: transparent;
    border: transparent;
}
